<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
{% include 'includes/_navbar.html' %}
<h1> Hello World</h1>

{##}
{##}
{#<!-- Button trigger modal for employee -->#}
{#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCustomer">#}
{#    Add Customer#}
{#</button>#}
{##}
{##}
{#    modal for customer#}
{#<div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#     aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{##}
{#                <form action="/newCustomer" method="post">#}
{#                    <div class="form-group">#}
{#                        <label for="formGroupExampleInput">Customer Name</label>#}
{#                        <input name="name" required type="text" class="form-control" id="formGroupExampleInput"#}
{#                               placeholder="Employee">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="formGroupExampleInput">Gender</label>#}
{#                        <select name="gender" class="form-control" id="formGroupExampleInput"#}
{#                                placeholder="Gender">#}
{#                            <option value="na">Not Applicable</option>#}
{#                            <option value="f">Female</option>#}
{#                            <option value="m">Male</option>#}
{#                        </select>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="form-group">#}
{#                        <label for="formGroupExampleInput">Email</label>#}
{#                        <input name="email" required type="email" class="form-control" id="formGroupExampleInput"#}
{#                               placeholder="Email">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="formGroupExampleInput">Choose Department</label>#}
{#                        <select name="department" required class="form-control" id="formGroupExampleInput"#}
{#                                placeholder="department">#}
{#                            {% for each in idara %}#}
{#                                <option value="{{ each.department_id }}">{{ each.name }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{##}
{##}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="formGroupExampleInput">National id</label>#}
{#                        <input name="national_id" required type="text" class="form-control" id="formGroupExampleInput"#}
{#                               placeholder="National Id">#}
{#                        <div class="form-group">#}
{##}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="formGroupExampleInput">Contact</label>#}
{#                            <input name="contact" required type="number" class="form-control"#}
{#                                   id="formGroupExampleInput"#}
{#                                   placeholder="Contact">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{##}
{#                        <input type="submit" class="form-control btn btn-primary">#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#            <button type="button" class="btn btn-primary">Save changes</button>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#table#}
{#<table class="table">#}
{#    <thead>#}
{#    <tr>#}
{#        <th scope="col">#</th>#}
{#        <th scope="col">CustomerName</th>#}
{#        <th scope="col">Gender</th>#}
{#        <th scope="col">Email</th>#}
{#        <th scope="col">National ID</th>#}
{#        <th scope="col">Contact</th>#}
{##}
{##}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for each in customers %}#}
{##}
{#        <tr>#}
{#            <th scope="row">{{ each.id }}</th>#}
{#            <td>{{ each.name }}</td>#}
{#            <td>{{ each.gender }}</td>#}
{#            <td>{{ each.email }}</td>#}
{#            <td>{{ each.national_id }}</td>#}
{#            <td>{{ each.contact }}</td>#}
{#            <td>   <!-- Button trigger modal for edit employee -->#}
{##}
{#                <button type="button" class="btn btn-primary" data-toggle="modal"#}
{#                        data-target="#editDepartment{{ each.department_id }}">#}
{#                    Edit#}
{#                </button>#}
{##}
                {#    modal for edit department#}
{#                <div class="modal fade" id="editDepartment{{ each.department_id }}" tabindex="-1" role="dialog"#}
{#                     aria-labelledby="exampleModalLabel"#}
{#                     aria-hidden="true">#}
{#                    <div class="modal-dialog" role="document">#}
{#                        <div class="modal-content">#}
{#                            <div class="modal-header">#}
{#                                <h5 class="modal-title" id="exampleModalLabel">Edit Department{{ each.name }}</h5>#}
{#                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                    <span aria-hidden="true">&times;</span>#}
{#                                </button>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{##}
{#                                <form action="/editDepartment/{{ each.department_id }}" method="post">#}
{#                                    <div class="form-group">#}
{#                                        <label for="formGroupExampleInput">Department</label>#}
{#                                        <input value="{{ each.name }}" name="name" required type="text"#}
{#                                               class="form-control" id="formGroupExampleInput"#}
{#                                               placeholder="Department">#}
{#                                    </div>#}
{##}
{#                                    <div class="form-group">#}
{##}
{#                                        <input type="submit" class="form-control btn btn-primary">#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                            <button type="button" class="btn btn-primary">Save changes</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </td>#}
{#            <td><a href="/deleteDepartment/{{ each.department_id }}">#}
{#                <button class="btn btn-danger">Delete</button>#}
{#            </a></td>#}
{#            ##}
{#            <td><a href="/inventory/{{ each.id }}">View Inventory</a></td>#}
{#        </tr>#}
{#    {% endfor %}#}
{##}
{##}
{#    </tbody>#}
{#</table>#}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>